USE [master]
GO
/****** Object:  Database [vectordb]    Script Date: 04/28/2024 15:51:30 ******/
CREATE DATABASE [vectordb] ON  PRIMARY 
( NAME = N'vectordb', FILENAME = N'c:\Program Files (x86)\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\vectordb.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'vectordb_log', FILENAME = N'c:\Program Files (x86)\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\vectordb_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [vectordb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [vectordb]
GO
/****** Object:  Table [dbo].[TBL_PRODUTO]    Script Date: 04/28/2024 15:51:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_PRODUTO](
	[COD_PRO] [varchar](5) NOT NULL,
	[NOME] [varchar](20) NULL,
	[VALOR] [numeric](12, 2) NULL,
 CONSTRAINT [PK_TBL_PRODUTO] PRIMARY KEY CLUSTERED 
(
	[COD_PRO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_FORPRO]    Script Date: 04/28/2024 15:51:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_FORPRO](
	[COD_FOR] [numeric](5, 0) NOT NULL,
	[COD_PRO] [varchar](20) NOT NULL,
 CONSTRAINT [PK_TBL_FORPRO] PRIMARY KEY CLUSTERED 
(
	[COD_FOR] ASC,
	[COD_PRO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_FORNEC]    Script Date: 04/28/2024 15:51:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_FORNEC](
	[COD_FOR] [numeric](5, 0) NOT NULL,
	[NOME] [varchar](20) NULL,
 CONSTRAINT [PK_TBL_FORNEC] PRIMARY KEY CLUSTERED 
(
	[COD_FOR] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
